<div class="modal-background" (click)="cancelModal()"></div>
<div class="modal-window">
  <div class="header">
    <div class="first-row">{{selectedFlight}} Registration</div>
    <div class="second-row">{{flightDate | date: "dd/MM/yy - hh:mm"}}</div>
    <img id="exit-btn" class="link" src="../../../assets/images/cross.png" (click)="cancelModal()">
  </div>
  <div class="white centre-frame">
    <registration-search #dropdownComponent [values]="allRegistrations"></registration-search>
  </div>
  <div class="buttons-wrapper">
    <button class="white cancel-btn link" (click)="cancelModal()">CANCEL</button>
    <button class="save-btn link" (click)="save()">SAVE</button>
  </div>
</div>
